.body{
    margin: 0 0 ;
    padding: 0 0;
    
   
}
/* Header CSS */
.header{
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(rgb(247, 247, 182),yellow);
}
.header-title{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .6s;
    text-decoration: none;
    color: black;
}
.header-title:hover{
    color: rgb(0, 137, 250);
    transition: .6s;
    cursor: pointer;
}

/* AddNote CSS */
.box{
    text-align: center;
    margin: 20px 25%;
    border: 2px solid black;
    box-shadow: 3px 4px 5px;
    background: linear-gradient(rgb(242, 250, 176),rgb(196, 253, 149));
}
.AddNote-title{
    margin: 20px 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 3px;
    width: 20%;

}
.AddNote-content{
    margin: 20px 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 3px;
    width: 35%;
}
.btn-add{
    margin-left: auto;
    margin-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: .6s;
}


/* Note CSS */
.containing-Note{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgb(252, 252, 252),rgb(236, 248, 185));
}
.notes{
    margin: 30px 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px;
    width: auto;
    height: auto;
    text-align: center;
    background: linear-gradient(rgb(173, 233, 173),rgb(136, 252, 136));
}
.Note-title{
    font-size: larger;
    font-weight: bold;
    margin: 10px 0;
    /* overflow-x: auto; */
    overflow-wrap: break-word;
    max-width: 100px;
}
.Note-content{
    /* margin-bottom: 20px; */
    /* overflow-x: auto; */
    overflow-wrap: break-word;
    max-width: 200px;
}